<footer class="text-center my-4">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">For Developers</a></li>
        <li><a href="#">Submit your dApp</a></li>
        <li><a href="#">App promotion</a></li>
        <li><a href="#">Telegram</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
    </ul>
</footer>
